<hr><hr>
<section class="carouselsection">
<div class="container">
<div class="row">
<p style="font-weight: 600;">For any question, concern, complain, or business inquiries, you can always reach me at <span style="font-weight: 600; color:#ff5647;">zjinnong@gmail.com</span>. </p>
<p style="font-weight: 600;">You can also fill out the form at the footer to contact me, and I will respond you as soon as possible!</p>
</div>
</div>
</section>