<!--*******************************************************HEADER************************************************** -->
    <header>
    <div class="hearder_whyus">
        <div class="container">
            <div class="slider-container">
                <div class="intro-text-whyus">
                    <div class="intro-heading">UWlife+ provides the best housing and carpool services</div>
                </div>
            </div>
        </div>
      </div>
    </header>

    <section class="requirement">
    <p style="font-weight: 500;">
    <span style="color:#ff5647; font-weight: 700;">UWlife+</span> was founded in 2019, based in Waterloo, Ontario. It all started with one simple thought. When the co-founder, Carter, was searching for a place to live in Waterloo after finishing his 4 months co-op job. He found out it is difficult to find a place considering there’s no platform that can offer student services (sublet, carpool, etc). The only way for Waterloo students to obtain that information is via Facebook and WeChat group chat, which has enormous amounts of messages (including spam) and unclear interface. Suddenly, A idea came straight up into Carter's mind, what if there's an integrated and distinct website that gives housing services where both sublessors and sublessee can make posts and contact each other through that? Will our life become easier? 
With the urgent need of finding a new home, Carter establishes UWlife+, a multifunctional platform that provides housing and carpool services in the Waterloo region.
    <br><br>Our team focuses on the exceptional platform and assistance to make the searching of transportation and new home in Waterloo easier.  
    <br><br>UWlife+, The best choice to make your college life easier.
    </p>
    </section>